<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="jesse_pets" frontName="jesse_pets">
            <module name="Jesse_Pets"/>
        </route>
    </router>
</config>
