<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Jesse\Animal\Api\Data\AnimalInterface" type="Jesse\Animal\Model\Animal"/>
    <preference for="Jesse\Animal\Api\AnimalRepositoryInterface" type="Jesse\Animal\Model\AnimalRepository"/>
</config>
